*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: aqua;
    color: rgb(2, 76, 20);
}

.container{
   
    margin: 10%;
    padding: 20px;
}
.container span{
    color: rgb(252, 10, 2);
}
.display{
  
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
   color: brown;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 20px;

}

.display i{
   
    font-size: 30px;
    cursor: pointer;
    
   
}

.display input{
   
    outline: 0;
    border: 0;
    font-size: 24px;
    
}
.container i{
    font-size: 30px;
    margin-right: 20px;
    cursor: pointer;
}

.container button{
    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 10px;
    cursor: pointer;
}